<mat-card class="carteCustom" style="width: 33%; display: inline-block">
    <mat-card-header>
        <mat-card-title>{{music?.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-card-subtitle class="info">
            <span>{{ music?.album }} - {{ music?.artist }}</span>
        </mat-card-subtitle>
        <mat-card-subtitle class="info">
            <span>{{ music?.duration }} - {{ music?.date }}</span>
        </mat-card-subtitle>
        <div>{{ music?.description }}</div>
    </mat-card-content>

    <mat-card-actions align="end" *ngIf="random !== 'true'">
        <button mat-mini-fab aria-label="Editer" color="accent" (click)="update()">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab aria-label="Supprimer" color="warn" (click)="remove()">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>