<ng-container>
    <table>
        <tr>
            <td>Titre</td>
            <td>Album</td>
            <td>Artist</td>
            <td>Date</td>
            <td>Durée</td>
            <td>Styles</td>
            <td></td>
        </tr>
        <tr *ngFor="let music of musics">
            <td>{{ music?.title }}</td>
            <td>{{ music?.album }}</td>
            <td>{{ music?.artist }}</td>
            <td>{{ music?.date }}</td>
            <td>{{ music?.duration }}</td>
            <td>{{ getStyles(music) }}</td>
            <td>
                <button mat-mini-fab aria-label="Editer" color="accent" (click)="update(music)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-mini-fab aria-label="Supprimer" color="warn" (click)="remove(music)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </tr>
    </table>
</ng-container>